PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=jewelry_salon_db
SESSION_SECRET=your_secret_here
NODE_ENV=development

# mysql -u root -proot -e "SELECT VERSION();"
# mysql -u root -proot jewelry_salon_db -e "SHOW TABLES;"
# mysql -h 127.0.0.1 -P 3306 -u root -proot jewelry_salon_db