<section>
  <h1>Смена пароля</h1>

  {{#if errors}}
    <ul class="errors">
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}

  <div class="card">
    <div class="password-page-nav">
      <a class="btn btn-secondary" href="/profile">Назад в профиль</a>
    </div>
    <form method="post" action="/profile/password" class="form" autocomplete="off">
      <input type="text" name="fake_username" autocomplete="username" style="display:none;" />
      <input type="password" name="fake_password" autocomplete="new-password" style="display:none;" />

      <label>Старый пароль
        <input type="password" name="old_password" autocomplete="off" required />
      </label>
      <label>Новый пароль
        <input type="password" name="new_password" minlength="6" autocomplete="new-password" required />
      </label>
      <label>Повторите новый пароль
        <input type="password" name="new_password_confirm" minlength="6" autocomplete="new-password" required />
      </label>
      <button class="btn" type="submit">Сменить пароль</button>
    </form>
  </div>
</section>
