<section class="auth-wrap">
  <h1>Вход</h1>
  {{#if errors}}
    <ul class="errors">
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}

  <form action="/auth/login" method="post" class="form">
    <label>Email
      <input type="email" name="email" value="{{values.email}}" required />
    </label>
    <label>Пароль
      <input type="password" name="password" required />
    </label>
    <button type="submit" class="btn">Войти</button>
  </form>
</section>
